body {
    background-color: #e0e0e0;
  }
  
  .game-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  }
  
  .letter {
    font-size: 30px;
    color: #4caf50;
  }
  